* {
    font-family: 'Segoe UI', sans-serif;
}

#navigation_menu {
    width: 300px;
    list-style-type: none;
    margin: 20px 40px;
    padding: 0;
}

#navigation_menu li > a {
    display: block;
    padding: 30px 55px 30px 80px;

    background-color: #808080;
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: 12px 13px;

    font-family: "Courier New", monospace;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
